.h2-verif{
  text-align: center;
  border-bottom: 3px solid blue;
  padding-bottom: 5px;
  margin-bottom: 0px;
  border-radius: 1px;
  color: green;
  font-weight: bold;
}

.h2-unverif{
  text-align: center;
  border-bottom: 3px solid blue;
  padding-bottom: 5px;
  margin-bottom: 0px;
  border-radius: 1px;
  color: red;
  font-weight: bold;
}

.p-verif{
  padding-top:10px;
  color: green;
  font-weight: bold;
  text-align:center
}

.p-unverif{
  padding-top:10px;
  color: red;
  font-weight: bold;
  text-align:center
}

.btn-verif{
  color: green;
}
.btn-unverif{
  color:red
}

.btn-primary{
  background-color: white;
  width: 30% !important;
}

.row{
  display: flex;
  justify-content: center;
}


