<div class="container">
<form
  [formGroup]="changePasswordForm"
  (ngSubmit)="onSubmit();">
    <p style="font-size:22px; font-weight: 400;padding-top:8px">Amennyiben szeretnéd megváltoztatni a jelszavad, azt itt teheted meg.</p>
    <div class="row">
      <div class="column">
        <mat-form-field appearance="outline">
          <mat-label>Jelenlegi jelszó</mat-label>
          <input matInput [type]="hide ? 'password': 'text'" formControlName="oldPassword" #oldPassword
                 [errorStateMatcher]="matcher"
                 placeholder="Jelenlegi jelszó">
          <mat-icon *ngIf="(isSubmitted && changePasswordForm.controls['oldPassword'].value==''
             || isSubmitted && changePasswordForm.controls['oldPassword'].hasError('invalidPassword'))" matSuffix>error
          </mat-icon>
        </mat-form-field>
        <mat-error *ngIf="isSubmitted && changePasswordForm.controls['oldPassword'].hasError('invalidPassword') || isSubmitted && changePasswordForm.controls['oldPassword'].value==''">
          A megadott jelenlegi jelszó nem megfelelő
        </mat-error>
      </div>
      <p></p>
    </div>
    <div class="row">
      <div class="column">
        <mat-form-field appearance="outline">
          <mat-label>Új jelszó</mat-label>
          <input matInput [type]="hide ? 'password': 'text'" formControlName="password" #password
                 [errorStateMatcher]="matcher"
                 placeholder="új jelszó">
          <mat-icon *ngIf="(changePasswordForm.controls['password'].hasError('minlength')
             || changePasswordForm.controls['password'].hasError('strong')
             || isSubmitted && changePasswordForm.controls['password'].value=='')" matSuffix>error
          </mat-icon>
        </mat-form-field>
        <mat-error
          *ngIf="changePasswordForm.controls['password'].hasError('minlength') || changePasswordForm.controls['password'].hasError('strong')">
          Érvénytelen jelszó
        </mat-error>
        <mat-error *ngIf="changePasswordForm.controls['password'].value=='' && isSubmitted">Nem adtál meg új jelszót</mat-error>
      </div>
        <p></p>
      <mat-hint>Legalább 8 karaktert használjon, és szerepeljenek köztük betűk, számok és
        szimbólumok is
      </mat-hint>
      </div>
        <div class="row">
          <div class="column">
        <mat-form-field appearance="outline">
          <mat-label>Megerősítés</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" formControlName="matchingPassword" #matchingPassword
                 [errorStateMatcher]="CrossFieldErrorMatcher"
                 placeholder="Megerősítés">
          <mat-icon *ngIf="( changePasswordForm.hasError('passwordDoNotMatch') && changePasswordForm.controls['matchingPassword'].value.length >= changePasswordForm.controls['password'].value.length ||
          isSubmitted && changePasswordForm.controls['matchingPassword'].value=='')"
                    matSuffix>error
          </mat-icon>
        </mat-form-field>
        <mat-error
          *ngIf="changePasswordForm.hasError('passwordDoNotMatch') && changePasswordForm.controls['matchingPassword'].value.length >= changePasswordForm.controls['password'].value.length ||
                isSubmitted && changePasswordForm.controls['matchingPassword'].value==''">
          A jelszavak nem egyeznek
        </mat-error>
          </div>
        <p></p>
      </div>
  <mat-checkbox
    (change)="hide = !hide">Jelszavak megjelenítése
  </mat-checkbox>
    <div class="row" >
      <p>Ahhoz, hogy elvégezhesd ezt a műveletet azonosítanod kell magad e-mail-ben kiküldött kód megadásával!</p>
  <div class="column">

    <mat-form-field appearance="outline" [hidden]="!showHiddenInput">
      <mat-label>E-mail-ben kapott kód</mat-label>
      <input type="text" matInput formControlName="otpNum" #otpNum
             placeholder="E-mailben kapott kód"
      >
    </mat-form-field>
    <mat-error
      *ngIf="changePasswordForm.controls['otpNum'].hasError('pattern') && !changePasswordForm.controls['otpNum'].hasError('required')">
      Érvénytelen kód formátum
    </mat-error>
    <mat-error
      *ngIf="(changePasswordForm.controls['otpNum'].hasError('required') && changePasswordForm.controls['otpNum'].touched) || (changePasswordForm.controls['otpNum'].hasError('required') && changePasswordForm.controls['otpNum'].dirty)
        || changePasswordForm.controls['otpNum'].hasError('required') && changePasswordForm.controls['otpNum'].hasError('pristine')
        || isSubmitted && changePasswordForm.controls['otpNum'].value==''">
      Kód megadása kötelező
    </mat-error>
    <mat-error
        *ngIf="isSubmitted && changePasswordForm.controls['otpNum'].hasError('invalidOtpNum')">
      Lejárt vagy helytelen kód
    </mat-error>
  </div>
    </div>

    <div class="row">
      <div #otpButton class="column" style="text-align: right;padding-left:15px;padding-bottom: 0px; ">
        <button type="button"
                class="btn btn-primary btn-block" (click)="generateOtpNumber()" [hidden]="showHiddenInput"
                style="float:left; width:250px;"> Kód kiküldése e-mailben
        </button>

    </div>
    </div>
    <div class="row textarea-row-class" style="padding-top: 15px">
      <div class="column" style="text-align: right;padding-left:15px ">
        <button type="submit"
                class="btn btn-primary btn-block" style="width:250px; float:left;position:fixed" [hidden]="!showHiddenInput">Jelszó megváltoztatása
        </button>
      </div>
      <input class="hideIt" #hideIt>
    </div>

  <ng-container></ng-container>
</form>
</div>
