<div class="col-xs-12">
  <a class="close" (click)="close()"></a>
</div>

<h2 mat-dialog-title>Registration</h2>
<div
  *ngIf="!isSuccessful"
  [formGroup]="registerForm"
>
  <mat-form-field appearance="outline" style="max-width: 308px!important; width:308px;!important;">
    <mat-label>Email</mat-label>
    <input type="email" matInput formControlName="email" #email
           [errorStateMatcher]="matcher"
           placeholder="Email"
    >
    <mat-icon *ngIf=" (registerForm.controls['email'].hasError('required') && registerForm.controls['email'].touched)
          || (registerForm.controls['email'].hasError('required') && registerForm.controls['email'].dirty)
          || (registerForm.controls['email'].hasError('pattern') && !registerForm.controls['email'].hasError('required'))
          || isSignUpFailed
          || registerForm.controls['email'].hasError('emailExists') " matSuffix>
      error
    </mat-icon>
    <mat-icon *ngIf="registerForm.controls['email'].valid" matSuffix>check_circle</mat-icon>
  </mat-form-field>
  <mat-error
    *ngIf="registerForm.controls['email'].hasError('pattern') && !registerForm.controls['email'].hasError('required')">
    Please enter a valid email address
  </mat-error>
  <mat-error
    *ngIf="registerForm.controls['email'].hasError('emailExists')">
    This email is already registered
  </mat-error>
  <mat-error
    *ngIf="(registerForm.controls['email'].hasError('required') && registerForm.controls['email'].touched) || (registerForm.controls['email'].hasError('required') && registerForm.controls['email'].dirty)">
    Email is <strong>required</strong>
  </mat-error>
  <p></p>

  <div class="row">
    <div class="column">
      <mat-form-field appearance="outline" style="max-width:150px!important">
        <mat-label>Password</mat-label>
        <input matInput [type]="hide ? 'password': 'text'" formControlName="password" #password
               [errorStateMatcher]="matcher"
               placeholder="Password">
        <mat-icon *ngIf="(registerForm.controls['password'].hasError('minlength') && !registerForm.controls['password'].hasError('required'))
             || (registerForm.controls['password'].hasError('required') && registerForm.controls['password'].touched)
             || (registerForm.controls['password'].hasError('required') && registerForm.controls['password'].dirty)
             || registerForm.controls['password'].hasError('strong')" matSuffix>error
        </mat-icon>
        <mat-icon *ngIf="registerForm.controls['password'].valid" matSuffix>check_circle</mat-icon>
      </mat-form-field>
      <mat-error
        *ngIf="registerForm.controls['password'].hasError('minlength') && !registerForm.controls['password'].hasError('required') || registerForm.controls['password'].hasError('strong')">
        Please enter a valid password
      </mat-error>
      <mat-error
        *ngIf="(registerForm.controls['password'].hasError('required') && registerForm.controls['password'].touched) || (registerForm.controls['password'].hasError('required') && registerForm.controls['password'].dirty)">
        Password is <strong>required</strong>
      </mat-error>
      <p></p>
    </div>

    <div class="column">
      <mat-form-field appearance="outline" style="max-width:150px!important">
        <mat-label>Confirm</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" formControlName="matchingPassword" #matchingPassword
               [errorStateMatcher]="CrossFieldErrorMatcher"
               placeholder="Matching password">
        <mat-icon *ngIf="(registerForm.controls['matchingPassword'].hasError('minlength'))
             || (registerForm.controls['matchingPassword'].hasError('required') && registerForm.controls['matchingPassword'].touched || registerForm.hasError('passwordDoNotMatch'))
             || (registerForm.controls['matchingPassword'].hasError('required') && registerForm.controls['matchingPassword'].dirty || registerForm.hasError('passwordDoNotMatch'))"
                  matSuffix>error
        </mat-icon>
        <mat-icon
          *ngIf="registerForm.controls['matchingPassword'].valid && !registerForm.hasError('passwordDoNotMatch')"
          matSuffix>check_circle
        </mat-icon>
      </mat-form-field>
      <mat-error
        *ngIf="registerForm.hasError('passwordDoNotMatch') && !registerForm.controls['matchingPassword'].hasError('required')">
        Passwords doesn't match
      </mat-error>
      <mat-error *ngIf="(registerForm.controls['matchingPassword'].hasError('required') && registerForm.controls['matchingPassword'].touched)
          || (registerForm.controls['matchingPassword'].hasError('required') && registerForm.controls['matchingPassword'].dirty)">
        Matching password is <strong>required</strong>
      </mat-error>
      <p></p>
    </div>
    <mat-hint style="font-size:12px">Legalább 8 karaktert használjon, és szerepeljenek köztük betűk, számok és
      szimbólumok is
    </mat-hint>
    <mat-checkbox
      formControlName="hide" (change)="hide = !hide">Show password
    </mat-checkbox>
  </div>
  <div class="col-xs-12" style="padding-top: 15px">
    <mat-checkbox formControlName="data" (change)="data =!data">A <a href="" routerLink="">Felhasználói szabályzatot</a>
      és az <a href="" routerLink="">
        Adatvédelmi tájékoztatót</a> elolvastam és elfogadom.
    </mat-checkbox>

  </div>
  <div class="row">
    <div class="column">
      <button type="button" class="btn btn-primary btn-block" style="width: 120px" (click)="close()">Close</button>
    </div>
    <div class="column" style="text-align: right">
      <button type="submit" [disabled]="registerForm.pristine || registerForm.invalid || data===false"
              class="btn btn-primary btn-block" style="width: 120px; float:right" (click)="onSubmit()">Sign Up
      </button>
    </div>
  </div>

  <mat-error *ngIf="isSignUpFailed" style="font-size:30px">Signup failed!</mat-error>
  <div class="alert alert-danger" *ngIf="submitted && isSignUpFailed">
    Signup failed!<br/>
  </div>
</div>


