<style>
  .title{
    text-align: center;
    border-bottom: 3px solid blue;
    padding-bottom: 5px;
    margin-bottom: 0px;
    border-radius: 1px;
    color: green;
    font-weight: bold;
  }

  .paragraph{
    padding-top:10px;
    padding-top:10px;
    color: green;
    font-weight: bold;
    text-align:center
  }
</style>
<h2 class="title" mat-dialog-title>Jelszó megváltoztató token</h2>
<div class="container">
  <p class="paragraph">Egy üzenetet küldtünk a megadott e-mail címre, az ebben lévő linkre kattintva tudod megváltoztatni a jelszavad!</p>
</div>
