<style>
  h2{
    text-align: center;
    border-bottom: 3px solid blue;
    padding-bottom: 5px;
    margin-bottom: 0px;
    border-radius: 1px;
    color: green;
    font-weight: bold;
  }

  p{
    padding-top:10px;
    padding-top:10px;
    color: green;
    font-weight: bold;
    text-align:center
  }
</style>
<h2 mat-dialog-title>Email visszajelzés</h2>
<div class="container">
  <p>Az adataidat és az igényelt szolgáltatásokat rögzítettük! A lefoglalt szolgáltatásokról és megadott adatokról egy visszajelző emailt küldtünk.</p>
</div>
