<div class="col-xs-12">
  <a class="close" (click)="close()"></a>
</div>

<h2 mat-dialog-title>Új jelszó</h2>
<form
  [formGroup]="resetPasswordForm"
  (ngSubmit)="onSubmit()"
>
  <div class="row">
    <div class="column">
      <mat-form-field appearance="outline" style="max-width:150px!important; margin-left:5px">
        <mat-label>Jelszó</mat-label>
        <input matInput [type]="hide ? 'password': 'text'" formControlName="password" #password
               [errorStateMatcher]="matcher"
               placeholder="Jelszó">
        <mat-icon *ngIf="(resetPasswordForm.controls['password'].hasError('minlength') && !resetPasswordForm.controls['password'].hasError('required'))
             || (resetPasswordForm.controls['password'].hasError('required') && resetPasswordForm.controls['password'].touched)
             || (resetPasswordForm.controls['password'].hasError('required') && resetPasswordForm.controls['password'].dirty)
             || resetPasswordForm.controls['password'].hasError('strong')
             || isSubmitted && resetPasswordForm.controls['password'].value==''" matSuffix>error
        </mat-icon>
        <mat-icon *ngIf="resetPasswordForm.controls['password'].valid" matSuffix>check_circle</mat-icon>
      </mat-form-field>
      <mat-error
        *ngIf="resetPasswordForm.controls['password'].hasError('minlength') && !resetPasswordForm.controls['password'].hasError('required')">
        Túl rövid jelszó
      </mat-error>
      <mat-error
        *ngIf="resetPasswordForm.controls['password'].hasError('strong') && !resetPasswordForm.controls['password'].hasError('required')">
        Nem megfelelő jelszó
      </mat-error>
      <mat-error
        *ngIf="(resetPasswordForm.controls['password'].hasError('required') && resetPasswordForm.controls['password'].touched) || (resetPasswordForm.controls['password'].hasError('required') && resetPasswordForm.controls['password'].dirty)
              || isSubmitted && resetPasswordForm.controls['password'].value==''">
        Jelszó megadása kötelező
      </mat-error>
      <p></p>
    </div>

    <div class="column">
      <mat-form-field appearance="outline" style="max-width:150px!important; margin-right:5px">
        <mat-label>Megerősítés</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" formControlName="matchingPassword" #matchingPassword
               [errorStateMatcher]="CrossFieldErrorMatcher"
               placeholder="Megerősítés">
        <mat-icon *ngIf="
                 resetPasswordForm.hasError('passwordDoNotMatch') && !resetPasswordForm.controls['matchingPassword'].hasError('required') && resetPasswordForm.controls['matchingPassword'].value.length >= resetPasswordForm.controls['password'].value.length
             || isSubmitted && resetPasswordForm.controls['matchingPassword'].value==''"
                  matSuffix>error
        </mat-icon>
        <mat-icon
          *ngIf="resetPasswordForm.controls['matchingPassword'].valid && !resetPasswordForm.hasError('passwordDoNotMatch')"
          matSuffix>check_circle
        </mat-icon>
      </mat-form-field>
      <mat-error
        *ngIf="resetPasswordForm.hasError('passwordDoNotMatch') && !resetPasswordForm.controls['matchingPassword'].hasError('required') && resetPasswordForm.controls['matchingPassword'].value.length >= resetPasswordForm.controls['password'].value.length">
        A jelszavak nem egyeznek
      </mat-error>
      <mat-error *ngIf="(resetPasswordForm.controls['matchingPassword'].hasError('required') && resetPasswordForm.controls['matchingPassword'].touched)
          || (resetPasswordForm.controls['matchingPassword'].hasError('required') && resetPasswordForm.controls['matchingPassword'].dirty)
          || isSubmitted && resetPasswordForm.controls['matchingPassword'].value==''">
        A jelszó megerősítés kötelező
      </mat-error>
      <p></p>
    </div>
  </div>
  <mat-hint>Legalább 8 karaktert használjon, és szerepeljenek köztük betűk, számok és
    szimbólumok is
  </mat-hint>
  <mat-checkbox
    formControlName="hide" (change)="hide = !hide">Jelszó megjelenítése
  </mat-checkbox>
  <div class="row">
    <div class="column">
      <button type="button" class="btn btn-primary btn-block" style="width: 120px; margin-left:5px" (click)="close()">Bezárás</button>
    </div>
    <div class="column" style="text-align: right">
      <button type="submit" [disabled]="resetPasswordForm.pristine"
              class="btn btn-primary btn-block" style="float:right; margin-right:5px" (click)="onSubmit()">Megváltoztatás
      </button>
    </div>
    <input class="hideIt" #hideIt>
  </div>
</form>
