<header>
  <ng2-slim-loading-bar color="blue"></ng2-slim-loading-bar>
  <div>
    <nav class="navbar navbar-expand navbar-dark bg-dark" style="height: 30px">
      <div class="container">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a href="" class="nav-link" routerLink="">Kapcsolat</a>
          </li>
          <li class="nav-item">
            <a href="" class="nav-link" routerLink="">Szolgáltatások</a>
          </li>
          <li class="nav-item">
            <a href="" class="nav-link" routerLink="">Hozom-viszem szolgáltatás</a>
          </li>
          <li class="nav-item">
            <a href="" class="nav-link" routerLink="">Munkadíjak</a>
          </li>
          <li class="nav-item">
            <a href="" class="nav-link" routerLink="">Rólunk</a>
          </li>
          <li class="nav-item">
            <a href="" class="nav-link" routerLink="">Álláslehetőség</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
  <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark indigo">

    <!-- Navbar brand -->
    <mdb-navbar-brand>
      <a class="navbar-brand" href="#">
        <img src="" height="30" class="d-inline-block align-top" alt="">
      </a>
    </mdb-navbar-brand>

    <!-- Collapsible content -->
    <links>

      <!-- Links -->
      <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
        <li class="nav-item">
          <a class="nav-link waves-light" (click)="openLoginDialog()" mdbWavesEffect> <mdb-icon fas icon="sign-in-alt"></mdb-icon>Belépés</a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-light" (click)="openRegistrationDialog()"  mdbWavesEffect><mdb-icon fas icon="user-plus"></mdb-icon>Regisztráció</a>
        </li>
      </ul>

      <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
        <li class="nav-item">
          <a href="/profile" class="nav-link waves-light" routerLink="/profile" mdbWavesEffect><mdb-icon fas icon="user"></mdb-icon>Profil</a>
        </li>
        <li class="nav-item">
          <a href="/logout" class="nav-link waves-light" (click)="logout()" mdbWavesEffect><mdb-icon fas icon="sign-out-alt"></mdb-icon>Kijelentkezés</a>
        </li>
      </ul>
      <!-- Links -->
    </links>
    <!-- Collapsible content -->

  </mdb-navbar>
  <!--/.Navbar-->

  <div>
    <nav class="navbar navbar-expand navbar-dark bg-dark">
      <div class="container">
        <ul class="navbar-nav ml-auto mr-auto" routerLinkActive="active">
          <li class="nav-item">
            <a href="/src" class="nav-link" routerLink="">Test </a>
          </li>
          <li class="nav-item" *ngIf="!isLoggedIn">
            <a href="/service-reservation" class="nav-link" routerLink="/service-reservation">Időpontfoglalás </a>
          </li>
          <li class="nav-item" *ngIf="isLoggedIn">
            <a href="/service-reservation" class="nav-link" routerLink="/auth-service-reservation">Időpontfoglalás </a>
          </li>
          <li class="nav-item">
            <a href="" class="nav-link" routerLink="/test">nem teszt </a>
          </li>
          <li class="nav-item">
            <a href="/src" class="nav-link" routerLink="">Test </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>

