<div class="col-xs-12">
  <a class="close" (click)="close()"></a>
</div>

<h2 mat-dialog-title>Login</h2>
<div
  [formGroup]="loginForm"
>
  <mat-form-field appearance="outline" style="max-width: 308px!important; width:308px;!important;">
    <mat-label>Email</mat-label>
    <input type="email" matInput formControlName="email" #email
           [errorStateMatcher]="matcher"
           placeholder="Email"
    >
    <mat-icon *ngIf=" (loginForm.controls['email'].hasError('required') && loginForm.controls['email'].touched)
          || (loginForm.controls['email'].hasError('required') && loginForm.controls['email'].dirty)
          || (loginForm.controls['email'].hasError('pattern') && !loginForm.controls['email'].hasError('required'))" matSuffix>
      error
    </mat-icon>
    <mat-icon *ngIf="loginForm.controls['email'].valid" matSuffix>check_circle</mat-icon>
  </mat-form-field>
  <mat-error
    *ngIf="loginForm.controls['email'].hasError('pattern') && !loginForm.controls['email'].hasError('required')">
    Please enter a valid email address
  </mat-error>
  <mat-error
    *ngIf="loginForm.controls['email'].hasError('emailExists')">
    This email is already registered
  </mat-error>
  <mat-error
    *ngIf="(loginForm.controls['email'].hasError('required') && loginForm.controls['email'].touched) || (loginForm.controls['email'].hasError('required') && loginForm.controls['email'].dirty)">
    Email is <strong>required</strong>
  </mat-error>
  <p></p>

  <div class="row">
    <div class="column">
      <mat-form-field appearance="outline" style="max-width: 308px!important; width:308px;!important;">
        <mat-label>Password</mat-label>
        <input matInput [type]="hide ? 'password': 'text'" formControlName="password" #password
               [errorStateMatcher]="matcher"
               placeholder="Password">
      </mat-form-field>
      <mat-error
        *ngIf="loginForm.controls['password'].hasError('minlength') && !loginForm.controls['password'].hasError('required') || loginForm.controls['password'].hasError('strong')">
        Please enter a valid password
      </mat-error>
      <mat-error
        *ngIf="(loginForm.controls['password'].hasError('required') && loginForm.controls['password'].touched) || (loginForm.controls['password'].hasError('required') && loginForm.controls['password'].dirty)">
        Password is <strong>required</strong>
      </mat-error>
      <p></p>
    </div>
    <mat-checkbox
      formControlName="hide" (change)="hide = !hide">Show password
    </mat-checkbox>
  </div>
  <div class="row">
    <div class="column">
      <button type="button" class="btn btn-primary btn-block" style="width: 120px" (click)="close()">Close</button>
    </div>
    <div class="column" style="text-align: right">
      <button type="submit" [disabled]="loginForm.pristine || loginForm.invalid"
              class="btn btn-primary btn-block" style="width: 120px; float:right" (click)="save()">Sign in
      </button>
    </div>
  </div>
<br>
  <div class="row">
    <div class="column">
      <a (click)="resetPasswordDialog()"  (click)="save()">Reset password</a>
    </div>
    <div class="column" style="text-align: right">
      <a  (click)="openRegistrationDialog()" style="width: 120px; float:right">Registration</a>
    </div>
  </div>

  <mat-error *ngIf="isLoginFailed" style="font-size:30px">Signup failed!</mat-error>
</div>
