.h2-verif{
  text-align: center;
  border-bottom: 3px solid blue;
  padding-bottom: 5px;
  margin-bottom: 0px;
  border-radius: 1px;
  color: green;
  font-weight: bold;
}

.h2-unverif{
  text-align: center;
  border-bottom: 3px solid blue;
  padding-bottom: 5px;
  margin-bottom: 0px;
  border-radius: 1px;
  color: red;
  font-weight: bold;
}

.p-verif{
  padding-top:10px;
  color: green;
  font-weight: bold;
}

.p-unverif{
  padding-top:10px;
  color: red;
  font-weight: bold;
}

.close {
  position: absolute;
  right: 5px;
  top: 12px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
}
.close:hover {
  opacity: 1;
}
.close:before, .close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 20px;
  width: 2px;
  background-color: darkblue;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}

.btn-verif{
  color: green;
}
.btn-unverif{
  color:red
}

.btn-primary{
  background-color: white;
  width: 30% !important;
}

.row{
  display: flex;
  justify-content: center;
}


