<!DOCTYPE html>
<html lang="hu" xmlns:th="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head>
    <style>
        .valami {
            margin:0;
            line-height: inherit;
            border-collapse: collapse;
            vertical-align: top;
            padding: 30px;
            background-color: white;
            text-align: left;
            background-color: white;
            border: 2px solid #ddd;
            border-radius: 10px;
            border-spacing: 0;
        }

        .containerr{
            margin: 0;
            text-align: center;
            position: relative;
            padding: 0;
            line-height: inherit;
            min-width: 320px;
            background-color: #ededed;
            width: 100%;
            table-layout: fixed;
            border-collapse: collapse;
            border-spacing: 0;
        }
        p{
            margin:0px;
        }
    </style>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width-device-width, initial-scale=1.0, shrink-to-fit=no"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div class="containerr" style="word-break: normal">
    <table style="text-align: center; max-width:700px; align-self: center; margin:0; display:inline-table;">
        <tbody>
        <tr>
            <td><img src='cid:carServiceLogo'></td>
        </tr>
        <tr>
            <td class="valami">
                <p>Kedves <span th:text="${name}"></span></p>
                <p>Köszönjük, hogy minket választottál!</p>
                <br>
                <p>Az általad foglalt szolgáltatások adatati a következőek:</p>
                <p>Személyes adatok:</p>
                <table style="width: 100%; text-align: center; border: 1px solid black">
                    <tbody>
                    <tr>
                        <th style="border: 1px solid black">Név</th>
                        <th style="border: 1px solid black">Telefonszám</th>
                        <th style="border: 1px solid black">Email</th>
                    </tr>
                    <tr>
                        <td th:text="${name}" style="border: 1px solid black"></td>
                        <td th:text="${phoneNumber}" style="border: 1px solid black"></td>
                        <td th:text="${email}" style="border: 1px solid black"></td>
                    </tr>
                    </tbody>
                </table>
            <br>
                <p>Számlázási adatok</p>
                <table style="width: 100%; text-align: center; border: 1px solid black">
                    <tbody>
                    <tr>
                        <th style="border: 1px solid black">Irányítószám</th>
                        <th style="border: 1px solid black">Város</th>
                        <th style="border: 1px solid black">Utca, házszám</th>
                        <th style="border: 1px solid black">Emelet, ajtó</th>
                        <th style="border: 1px solid black">Név</th>
                        <th style="border: 1px solid black">Telefonszám</th>
                        <th style="border: 1px solid black">Email</th>
                        <th style="border: 1px solid black">Adószám</th>
                    </tr>
                    <tr>
                        <td th:text="${billingZipCode}" style="border: 1px solid black"></td>
                        <td th:text="${billingTown}" style="border: 1px solid black"></td>
                        <td th:text="${billingStreet}" style="border: 1px solid black"></td>
                        <td th:text="${billingOtherAddressType} ?: '-'" style="border: 1px solid black"></td>
                        <td th:text="${billingName}" style="border: 1px solid black"></td>
                        <td th:text="${billingPhoneNumber}" style="border: 1px solid black"></td>
                        <td th:text="${billingEmail}" style="border: 1px solid black"></td>
                        <td th:text="${billingTax} ?: '-'" style="border: 1px solid black"></td>
                    </tr>
                    </tbody>
                </table>
                <br>
                <p>Gépjármű adatok:</p>
                <table style="width: 100%; text-align: center; border: 1px solid black">
                    <tbody>
                    <tr>
                        <th style="border: 1px solid black">Márka</th>
                        <th style="border: 1px solid black">Típus</th>
                        <th style="border: 1px solid black">Gyártási év</th>
                        <th style="border: 1px solid black">Motor típus</th>
                        <th style="border: 1px solid black">Motorkód</th>
                        <th style="border: 1px solid black">Alvázszám</th>
                        <th style="border: 1px solid black">Kilométeróra állása</th>
                        <th style="border: 1px solid black">Rendszám</th>
                    </tr>
                    <tr>
                        <td th:text="${brand}" style="border: 1px solid black"></td>
                        <td th:text="${type}" style="border: 1px solid black"></td>
                        <td th:text="${yearOfManufacture}" style="border: 1px solid black"></td>
                        <td th:text="${engineType}" style="border: 1px solid black"></td>
                        <td th:text="${engineNumber} ?: '-'" style="border: 1px solid black"></td>
                        <td th:text="${chassisNumber} ?: '-'" style="border: 1px solid black"></td>
                        <td th:text="${mileage} ?: '-'" style="border: 1px solid black"></td>
                        <td th:text="${licensePlate} ?: '-'" style="border: 1px solid black"></td>
                    </tr>
                    </tbody>
                </table>
            <br>
            <p>Lefoglalt időpont: <span th:text="${reservedDate}"></span></p>
            <p>Igényelt szolgáltatások: <span th:text="${reservedServices}"></span></p>
            <p>Megjegyzés: <span th:text="${comment}"></span></p>
            <br>
                <div>
                    Bármilyen kérdésed van keress minket az alábbi elérhetőségeken:<br>
                    Telefonszám:<br>
                    Email:<br>
                    CarService csapata<br>
                    http://localhost:4200/<br>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
    <p>© 2021 - 2021 Carservice - Minden jog fenntartva</p>
</div>
</div>
</body>
</html>
