table {
  width: 100%;
}
.tableHeaderCellDiv {
  resize: horizontal;
  overflow:hidden;
}
th.mat-sort-header-sorted {
  color: black;
}
button{
  font-size:16px;
  margin-right:12px;
  margin-bottom:6px;
}

.mat-header-cell{
  font-size:15px;
}

.mat-column-actions{
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 31% !important;
  width: 31% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
