<div class="col-xs-12">
  <a class="close" (click)="close()"></a>
</div>

<h2 mat-dialog-title>Elfelejtett jelszó</h2>
<form
  [formGroup]="resetPasswordForm"
  (ngSubmit)="onSubmit();"
>
  <mat-hint>Küldünk egy linket az email címedre mellyel megváltoztathatod jelszavad.</mat-hint>
    <mat-form-field appearance="outline" style="max-width: 308px!important; width:308px;!important;">
    <mat-label>Email</mat-label>
    <input type="email" matInput formControlName="email" #email
           [errorStateMatcher]="matcher"
           placeholder="Email"
    >
    <mat-icon *ngIf=" (resetPasswordForm.controls['email'].hasError('required') && resetPasswordForm.controls['email'].touched)
          || (resetPasswordForm.controls['email'].hasError('required') && resetPasswordForm.controls['email'].dirty)
          || (resetPasswordForm.controls['email'].hasError('pattern') && !resetPasswordForm.controls['email'].hasError('required')
          || resetPasswordForm.controls['email'].hasError('emailNotExists'))
          || resetPasswordForm.controls['email'].hasError('required') && resetPasswordForm.controls['email'].hasError('pristine')" matSuffix>
      error
    </mat-icon>
    <mat-icon *ngIf="resetPasswordForm.controls['email'].valid" matSuffix>check_circle</mat-icon>
  </mat-form-field>
  <mat-error
    *ngIf="resetPasswordForm.controls['email'].hasError('pattern') && !resetPasswordForm.controls['email'].hasError('required')">
    Érvénytelen email cím
  </mat-error>
  <mat-error
    *ngIf="resetPasswordForm.controls['email'].hasError('emailNotExists')">
    Nincs regisztrálva fiók ezzel az emailel
  </mat-error>
  <mat-error
    *ngIf="(resetPasswordForm.controls['email'].hasError('required') && resetPasswordForm.controls['email'].touched) || (resetPasswordForm.controls['email'].hasError('required') && resetPasswordForm.controls['email'].dirty)
          || resetPasswordForm.controls['email'].hasError('required') && resetPasswordForm.controls['email'].hasError('pristine')">
    Email megadása kötelező
  </mat-error>
  <p></p>
  <div class="row">
    <div class="column" style="padding-left:15px ">
      <button type="button" class="btn btn-primary btn-block" style="width: 120px" (click)="close()">Mégse</button>
    </div>
    <div class="column" style="text-align: right">
      <button type="submit"
              class="btn btn-primary btn-block" style="width: 120px; float:right;padding-right:15px ">Küldés
      </button>
    </div>
    <input #hideIt class="hideIt">
  </div>
</form>
