.valami {
    margin:0;
    line-height: inherit;
    border-collapse: collapse;
    vertical-align: top;
    padding: 30px;
    background-color: white;

}

#valami2{
    background-color: white;
    border: 2px solid #ddd;
    border-radius: 10px;
    border-spacing: 0;
}