

.column {
  float: left;
  width: 50%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.mat-form-field-appearance-outline.ng-invalid .mat-icon{
  color:red!important;
}

.mat-dialog-container{
  max-width: 350px !important;
}

.mat-checkbox-label{
  box-sizing: border-box !important;
  white-space: break-spaces !important;
}

.mat-form-field-flex{
  height: 50px;
  background-color: white;
  max-width: 284px!important;
}

.mat-form-field{
  height: 30px;
  padding-top: 10px;
  width: 300px;
}

:host ::ng-deep .mat-form-field-infix{
  margin-bottom: 0px!important;
  padding: 7px 0px 6px 0px !important;
  width: 260px !important;
}

:host ::ng-deep .mat-form-field-wrapper{
  margin-bottom:0px!important;
}

.mat-form-field-appearance-outline{
  padding: 0px 0px 0px 0px !important;
  margin-bottom: 0px
}

.mat-form-field-label{
  top: 1.75em
}

.mat-input-element{
  font-size:20px!important;
  margin-top: 0.3em;
}

.mat-error {
  padding-top: 2px;
  padding-left: 5px;
  font-size: 14px;
}

.mat-form-field-wrapper, .login-dialog .mat-form-field-wrapper {
  padding-bottom: 20px;
}

.textarea-row-class{
  justify-content: center;
}



