/* You can add global styles to this file, and also import other style files */
@import '~mdb-ui-kit/css/mdb.min.css';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.cdk-overlay-pane.my-dialog {
  position: relative !important;
}

.mat-dialog-container {
  max-width: 350px !important;
}

.mat-checkbox-label {
  box-sizing: border-box !important;
  white-space: break-spaces !important;
}

.mat-form-field-flex {
  height: 50px;
  background-color: white
}

.mat-form-field {
  height: 30px;
  padding-top: 10px;
}

.mat-form-field-infix {
  padding: 7px 0px 1px 0px !important;
  width: 260px !important;
}

.mat-form-field-appearance-outline {
  padding: 7px 0px 0px 0px !important;
  margin-bottom: 0px
}

.mat-form-field-label {
  top: 1.75em
}

.mat-error {
  padding-top: 10px;
  padding-left: 5px;
  font-size: 12px;
}

.mat-form-field-wrapper {
  padding-bottom: 20px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}
