.align-end{
  text-align: end;
  display: block;
  font-size: 16px;
  font-weight: 500;
  width:168px;
}

.test-box{
  min-width: 160px;
  max-width: 160px;
  padding-top:0px;
  padding-bottom:0px;
  padding-right:10px
}

.align-from-label{
  padding-left:10px;
}
